# Compiled binaries
*.bin
*.elf
*.hex
*.map

# Trash
*.bak

# IAR project "Debug" directory
Debug/

# IAR project "Release" directory
Release/

# IAR project settings directory
settings/

# IAR backup files
Backup*

# IAR .dep files
*.dep
